body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

header {
	background: url(C:/Users/Max/Desktop/work/trailera/Верстка/img/first-bg.jpg) no-repeat center top / cover;
	height: 595px;
}

.container {
	width: 100%;
	background: #23282b;
	opacity: .89;
	margin: 0 auto;
}
.top-line {
	width: 1024px;
	margin: 0 auto;
	opacity: 1;
}

.head-logo {
	height: 64px; 
	width: 200px;
	top no-repeat;
    left: 0;
    top: 0;
}

nav{
	float: right;
	margin-top: 20px;
}

.menu {
	padding: 0;
	margin: 0; 
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 105px; 
}

.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;

}
